<extend name="Public:layout"/>
<block name="page-content">

<div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="__MODULE__/Category/index">精品分类</a><span class="crumb-step">&gt;</span><span>修改分类</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__SELF__" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                         <tr>
                                <th><i class="require-red">*</i>分类名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="cat_name" size="50" value="{$row.cat_name}" type="text">
                                </td>
                            </tr>
                        <tr>
                            <th width="120">上级分类：</th>
                            <td>
                                <select name="parent_id" id="catid" class="required">
                                    <option value="0">顶级分类</option>

                                    <volist name="cats" id="vo">
                                        <option value="{$vo['cat_id']}"
                                         <if condition="in_array($vo['parent_id'],$subIds)">disabled='disabled'<else /></if>
                                         <if condition="in_array($vo['cat_id'],$subIds)">disabled='disabled'<else /></if>
                                         <if condition="$vo['cat_id'] eq $row['parent_id'] "> selected='selected' <else /></if> >
                                            ├{$vo.level|str_repeat="─┴",###}{$vo.cat_name}
                                        </option>
                                    </volist>

                                </select>
                            </td>
                        </tr>
                            <tr>
                                <th>是否显示：</th>
                                <td><label><input type="radio" name="is_show" value="1" <if condition="$row['is_show'] eq 1">checked='checked'<else /></if> > 是</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="is_show" value="0" <if condition="$row['is_show'] eq 0">checked='checked'<else /></if>> 否</label>
                                </td>
                            </tr>
                            <tr>
                                <th>是否推荐：</th>
                                <td><label><input type="radio" name="is_tj" value="1" <if condition="$row['is_tj'] eq 1">checked='checked'<else /></if> > 是</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="is_tj" value="0" <if condition="$row['is_tj'] eq 0">checked='checked'<else /></if>> 否</label>
                                </td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="cat_desc" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10">{$row.cat_desc}</textarea></td>
                            </tr>
                            <!--<tr>
                            <th></th>
                            <td>
                            <div class="controls">

											<select style="height:30px;" id="p" name="first">
										
												<option value="">一级分类</option>

												<volist name="data" id="vo">
												
													<option value="{$vo['cat_id']}">{$vo['cat_name']}</option>					
											
												</volist>
											
											</select>
											<select style="height:30px;" id="c" name="second">
												<option value="">二级分类</option>
											</select>
											<select style="height:30px;" name="cid" id="d">
												<option value="">三级分类</option>					
											</select>

										</div>
                            </td>
                            </tr>-->
                            <tr>
                                <th>排序：</th>
                                <td>
                                    <input class="common-text required" name="sort_order" size="10" value="{$row.sort_order}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
<!--<script>

	// 绑定切换事件
	var op = document.getElementById('p');
	var oc = document.getElementById('c');
	var od = document.getElementById('d');
	op.onchange = dodo; 
	oc.onchange = dodo; 
	function dodo() {
		var $this = this; // 缓存当前触发事件的对象
		// 当前的ID
		var id = this.value;
		var url = '__URL__/sel/id/'+id; // 将所选分类ID 发送到服务器端
		$.get(url,'',function(data) {
			// 判断谁 能区分出当前触发事件的select 
			console.log(data);
			if($this.id == 'p') {
				// 清空option元素
				var obj = oc;
				obj.options.length = 1;
				$("#c").append(data);
				od.style.display = 'none';
			} else {
				var obj = od;
				obj.options.length = 1;
				$("#d").append(data);
				od.style.display = 'inline';
			}
		});
	}
</script>-->
</block>          