<div class="footer" id="footer">
	
	<div class="footer-nav clearfix">
		<dl class="about">
			<dt>关于我们</dt>
			<dd><a href="#" target="_blank">关于</a></dd>
			<dd><a href="#" target="_blank">加入我们</a></dd>
			<dd><a href="#" target="_blank">商家推广</a></dd>
			<dd><a href="#" target="_blank">隐私条款</a></dd>
		</dl>
		<dl class="followus">
			<dt>关注我们</dt>
			<dd><a class="f-Qzone" href="#" rel="nofollow" target="_blank">QQ空间</a></dd>
			<dd><a class="f-sina" href="#" rel="nofollow" target="_blank">新浪微博</a></dd>
			<dd><a class="f-tencent" href="#" rel="nofollow" target="_blank">腾讯微博</a></dd>
			<dd><a class="f-douban" href="#" rel="nofollow" target="_blank">豆瓣</a></dd>
		</dl>
            <dl class="friendlinks">
                <dt><a href="#" target="_blank">友情链接</a></dt>
                <dd><a href="#" target="_blank">品善网</a></dd>
                <dd><a href="#" target="_blank">女装搭配网</a></dd>
                <dd><a href="#" target="_blank">时尚女装</a></dd> 
                <dd><a href="#" target="_blank">嗨淘网</a></dd>
                <dd><a href="#" target="_blank">美好筑家</a></dd>	
                <dd><a href="#" target="_blank">名鞋库</a></dd>
                <dd><a href="#" target="_blank">台湾黄页</a></dd>	
                <dd><a href="#" target="_blank">蹦蹦网</a></dd>
                <dd><a href="#" target="_blank">派代</a></dd>
            </dl>
            <dl class="how">
                <dt><a href="#" target="_blank">爱否</a></dt>
                <dd><a href="#" target="_blank">女人爱否</a></dd>
                <dd><a href="#" target="_blank">主题</a></dd>
                <dd><a href="#" target="_blank">好友爱否</a></dd>
                <dd><a href="#" target="_blank">逛时尚画报</a></dd>
            </dl>
	</div>
	<p class="cp">Copyright ©2013-2014 IF43.com, All Rights Reserved. <a rel="nofollow" href="#" target="_blank">京ICP备13029152号-1</a></p>
</div>
<script type="text/javascript" src="/public/js/waterfall.js" ></script>