<extend name="Public:layout"/>
<block name="page-content">

<div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/admin/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">管理员权限列表页</span></div>
        </div>
        
        <div class="result-wrap">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__URL__/add"><i class="icon-font"></i>添加管理员权</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>操作</th>
                        </tr>
                        <volist name="ruleAll" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.title}</td>
                                <td><a href="__CONTROLLER__/authEdit/id/{$vo.id}">修改权限</a><span class="spanGray">|</span><a onclick="return confirm(' 你确定要删除吗？')" href="__CONTROLLER__/delete/id/{$vo.id}">删除权限</a></td>
                            </tr>
                        </volist>	
                    </table>
                    <div class="list-page">{$spage}</div>
                </div>
           
        </div>
        
</block>         