<extend name="Public:layout"/>
<block name="page-content">

<div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/admin/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">精品类型列表页</span></div>
        </div>
        
        <div class="result-wrap">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__URL__/add"><i class="icon-font"></i>添加类型</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>类型名称</th>
                            <th>属性数</th>
                            <th width="30%">操作</th>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.type_id}</td>
                                <td>{$vo.type_name}</td>
                                <td>12</td>
                                <td>
                                <a href="__MODULE__/Attribute/index/type_id/{$vo.type_id}">属性列表</a><span class="spanGray">|</span>
                                <a href="__CONTROLLER__/edit/type_id/{$vo.type_id}">修改</a><span class="spanGray">|</span>
                                <a onclick="return confirm(' 你确定要删除吗？')" href="__CONTROLLER__/delete/type_id/{$vo.type_id}">删除</a></td>
                            </tr>
                        </volist>	
                    </table>
                </div>
           
        </div>
        
</block>         