<extend name="Public:layout"/>
<block name="page-content">
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/Application/Admin/Public/js/utils.js"></script>
<link rel="stylesheet" type="text/css" href="/Application/Admin/Public/screen/jquery.datetimepicker.css"/>
<div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">精品列表</a><span class="crumb-step">&gt;</span><span>修改精品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__SELF__" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                                <th width="100"><i class="require-red">*</i>精品分类</th>
                                <td>
                                <div class="controls">
                                        <select style="height:30px;" id="p" name="first">
                                            <option value="">一级分类</option>
                                            <volist name="data" id="vo">
                                                <option value="{$vo['cat_id']}" <if condition="$vo['cat_id'] eq $cat_id['first']">selected='selected'<else /></if>>{$vo['cat_name']}</option>					
                                            </volist>
                                        </select>
                                        <select style="height:30px;" id="c" name="second">
                                            <option value="">二级分类</option>
                                            <volist name="data2" id="vo">
                                                <option value="{$vo['cat_id']}" <if condition="$vo['cat_id'] eq $cat_id['second']">selected='selected'<else /></if>>{$vo['cat_name']}</option>					
                                            </volist>
                                        </select>
                                        <select style="height:30px;" name="cid" id="d">
                                            <option value="">三级分类</option>
                                            <volist name="data3" id="vo">
                                                <option value="{$vo['cat_id']}" <if condition="$vo['cat_id'] eq $cat_id['cid']">selected='selected'<else /></if>>{$vo['cat_name']}</option>					
                                            </volist>					
                                        </select>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>名称：</th>
                                <td>
                                    <input class="common-text required"  name="pro_name" size="30" value="{$row.pro_name}" type="text">&nbsp;&nbsp;最多12字
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" name="pro_title" size="50" value="{$row.pro_title}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>简单描述：</th>
                                <td><textarea name="pro_desc" class="common-textarea" cols="30" style="width: 98%;" rows="5">{$row.pro_desc}</textarea></td>
                            </tr>
                           <tr>
                            	<th><i class="require-red">*</i>精品类型：</th>
                                <td>
                                    <select name="type_id" id="type_id" class="required">
                                        <option value="" disabled='disabled'>请选择精品类型</option>
                                        <volist name="types" id="vo">
                                        	<option value="{$vo.type_id}" <if condition="$vo['type_id'] eq $row['type_id']">selected='selected'<else />disabled='disabled'</if>>{$vo.type_name}</option>
                                        </volist>
                                    </select>
                                </td>
                      	   </tr>
                           <tr>
                            	<th><i class="require-red">*</i>精品属性</th>
                                <td id="tbody-goodsAttr">
                                <!--这里选择精品类型后显视的属性-->
                                请先选择精品类型！^_^
                                </td>
                      	   </tr>
                           <tr>
                                <th>价格：</th>
                                <td>
                                    <input class="common-text required" name="pro_price" size="5" value="{$row.pro_price}" type="text" onfocus="if (this.value == '{$row.pro_price}'){this.value='';}" onblur="if (this.value == ''){this.value='{$row.pro_price}';}">&nbsp;￥
                                </td>
                            </tr>
                            <tr>
                                <th>价格趋势：</th>
                                <td>
                                    <input class="common-text required"  name="price_trend" size="10" value="{$row.price_trend}" type="text" onfocus="if (this.value == '{$row.price_trend}'){this.value='';}" onblur="if (this.value == ''){this.value='{$row.price_trend}';}">&nbsp;如"89%"，这里填"89".
                                </td>
                            </tr>
                            <tr>
                                <th>去购买：</th>
                                <td>
                                    <input class="common-text required" name="buy_url" size="50" value="{$row.buy_url}" type="text">&nbsp;电商平台外链接 http://
                                </td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td>
                                <img src="__PUBLIC__/uploads/{$row.img120x120}" style="margin:10px 0;"/>
                                <input name="pro_img" id="" type="file">
                                上传原图:600*600px&nbsp;&nbsp;&nbsp;自动生成：250*250 | 120*120 | 45*45 | 220*284 缩略图
                                <!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>-->
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>今日上新图：</th>
                                <td>
                                <img src="__PUBLIC__/uploads/{$row.img_new}" height="120" style="margin:10px 0;"/>
                                <input name="img_new" id="" type="file">
                                193*426(衣服) | 230*240(其它)
                                <!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>-->
                                </td>
                            </tr>
                              <tr>
                                <th colspan="2" style="text-align:center; font-weight:bold; border-bottom:none; background:#F5F5F5;">精品内容</th>
                            </tr>
                            <tr>
                                <!--<th>精品内容：</th>-->
                                <td colspan="2" style="padding:10px;">
								<script id="editor" type="text/plain" name="pro_content" style="width:100%;height:400px;">
                                {$row.pro_content}
                                </script>
                                <script type="text/javascript">
                                	var ue = UE.getEditor('editor');
                                </script>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <table width="100%" id="gallery-table" class="insert-tab">
                              <tbody>
                              <tr>
                                <th style="text-align:center; font-weight:bold; border-bottom:none; background:#F5F5F5;">精品画册</th>
                              </tr>
                              <tr>
                              	<td>
                                  <div class="galaryBox">
                                      <volist name="galary" id="vo" >
                                            <dl id="imgDl_{$vo.img_id}">
                                                <dt>
                                              <a href="javascript:void(0);" title="删除" class="deleteImg" onclick="deleteImg('{$vo.img_id}')"><i class="icon-font">&#xe069;</i></a>
                                                    <img src="__PUBLIC__/uploads/{$vo.thumb_url}" width="150"/>
                                                </dt>
                                                <dd><input type="text" name="galary[{$vo.img_id}]" class="galaryText" value="{$vo.img_desc}"/></dd>
                                            </dl>
                                      </volist>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a href="javascript:;" onclick="addImg(this)">[+]</a>
                                  图片描述 <input type="text" name="img_desc[]" size="20">
                                  上传文件 <input type="file" name="img_url[]">
                                </td>
                              </tr>
                            </tbody>
                            </table>
                         <table class="insert-tab" width="100%">
                            <tbody>
                            <tr>
                                <th colspan="2" style="text-align:center; font-weight:bold; border-bottom:none; background:#F5F5F5;">其它操作</th>
                              </tr>
                            <tr>
                                <th>加入推荐：</th>
                                <td>
                    <label><input type="checkbox" name="is_new" value="1" <if condition="$row['is_new'] eq 1 ">checked='checked'<else /></if>>&nbsp;新品&nbsp;&nbsp; </label>
                    <label><input type="checkbox" name="is_examine" value="1" <if condition="$row['is_examine'] eq 1 ">checked='checked'<else /></if>>&nbsp;审核&nbsp;&nbsp;</label>
                    <label><input type="checkbox" name="is_best" value="1" <if condition="$row['is_best'] eq 1 ">checked='checked'<else /></if>>&nbsp;精品&nbsp;&nbsp;</label>
                    <label><input type="checkbox" name="is_hot" value="1" <if condition="$row['is_hot'] eq 1 ">checked='checked'<else /></if>>&nbsp;火热&nbsp;&nbsp;</label>
                    <label><input type="checkbox" name="is_onsale" value="1"  <if condition="$row['is_onsale'] eq 1 ">checked='checked'<else /></if>>&nbsp;上架</label>
                                </td>
                            </tr>
                            <tr>
                                <th>排序：</th>
                                <td>
                                    <input class="common-text required" name="pro_order" size="50" value="{$row.pro_order}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>添加时间：</th>
                                <td>
                                    <input class="common-text required" id="datetimepicker_mask" name="add_time" size="50" value="{$row.add_time|date="Y/m/d h:m",###}" type="text">
                                </td>
                            </tr>
                                <tr>
                                    <th width="100"></th>
                                    <td>
                                        <input class="btn btn-primary btn6 mr10" value="更新" type="submit">
                                        <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                    </td>
                                </tr>
                          </tbody>
                        </table>   
                </form>
            </div>
        </div>
<script>

	// Ajax类别切换
	var op = document.getElementById('p');
	var oc = document.getElementById('c');
	var od = document.getElementById('d');
	op.onchange = dodo; 
	oc.onchange = dodo; 
	function dodo() {
		var $this = this; // 缓存当前触发事件的对象
		// 当前的ID
		var id = this.value;
		var url = '__URL__/sel/id/'+id; // 将所选分类ID 发送到服务器端
		$.get(url,'',function(data) {
			// 判断谁 能区分出当前触发事件的select 
			console.log(data);
			if($this.id == 'p') {
				// 清空option元素
				var obj = oc;
				obj.options.length = 1;
				$("#c").append(data);
				od.style.display = 'none';
			} else {
				var obj = od;
				obj.options.length = 1;
				$("#d").append(data);
				od.style.display = 'inline';
			}
		});
	}
	
	//Ajax获取属性
	var type_idObj = document.getElementById('type_id');
	type_idObj.onchange = dodo2;
	function dodo2() {
		var $this = this; // 缓存当前触发事件的对象
		// 当前的ID
		var type_id = this.value;
		var url = "__MODULE__/Attribute/getAttrs/type_id/"+type_id; 
		$.get(url,'',function(data) {
				$("#tbody-goodsAttr").empty();
				$("#tbody-goodsAttr").append(data);
		});
	}
	
	//Ajax删除画册
	function deleteImg(img_id) {
		// 当前的ID
		var url = "__MODULE__/Pro/deleteImg/img_id/"+img_id; 
		$.get(url,'',function(data) {
				$("#imgDl_"+img_id+" dt a.deleteImg").remove();
				$("#imgDl_"+img_id+" dt").append(data);
				$("#imgDl_"+img_id+" dd").remove();
		});
	}
	
	//自动加载相关修改的属性
	window.onload = function() {
		var url = "__MODULE__/Attribute/editAttrs/type_id/{$row['type_id']}/pro_id/{$row['pro_id']}"; 
		$.get(url,'',function(data) {
				$("#tbody-goodsAttr").empty();
				$("#tbody-goodsAttr").append(data);
		});
	}

	//添加上传画册
	function addImg(obj){
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('gallery-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  	}

    function removeImg(obj){
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('gallery-table');
      tbl.deleteRow(row);
  	}

</script>
<script src="/Application/Admin/Public/screen/jquery.js"></script>
<script src="/Application/Admin/Public/screen/jquery.datetimepicker.js"></script>
<script src="/Application/Admin/Public/screen/cheseeDate.js"></script>
</block>          