<extend name="Public:layout"/>
<block name="page-content">

<div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/admin/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">管理员列表</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__CONTROLLER__/index" name="searchform" method="get">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="请输入管理员名称" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="搜索" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__URL__/add"><i class="icon-font"></i>添加管理员</a>
                    </div>
                </div>
                <div class="result-content">
                <form name="myform" action="__CONTROLLER__/deleteall" id="myform" method="post">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>ID</th>
                            <th>管理员名称</th>
                            <th>邮箱</th>
                            <th>真实姓名</th>
                            <th>性别</th>
                            <th>权限等级</th>
                            <th>是否屏蔽</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="u" item="v">
                            <tr>
                                <td class="tc"><input name="id[]" value="{$v.id}" type="checkbox"></td>
                                <td>{$v.id}</td>
                                <td>{$v.username}</td>
                                <td>{$v.email}</td>
                                <td>{$v.realname}</td>
                                <td>{$v.sex}</td>
                                <td>{$v.groupid}</td>
                                <td>{$v.disabled}</td>
                                <td>
                                    <a href="__CONTROLLER__/save/id/{$v.id}">修改</a><span class="spanGray">|</span>
                                    <a href="__CONTROLLER__/changepwd/id/{$v.id}">修改密码</a><span class="spanGray">|</span>
                                    <a href="__CONTROLLER__/changeauth/id/{$v.id}/username/{$v.username}">修改权限</a><span class="spanGray">|</span>
                                    <a onclick="return confirm(' 你确定要删除吗？')" href="{:U('del','id='.$v['id'])}">删除</a>
                                </td>
                            </tr>
                        </foreach>
                    </table>
                        <div class="checkAll">
                            <button type="button">全选</button>
                            <button type="button">反选</button>
                            <input type="submit" name="action" value="删除" onclick="return confirm(' 你确定要删除吗？')">
                            <input type="submit" name="action" value="屏蔽">
                            <input type="submit" name="action" value="开启">
                        </div>      
                    <div class="list-page">{$spage}</div>
                     	</form>
                </div>
           
        </div>
        <script>
              $(function () {
                var bool = true;
                $(':button:contains(全选),.allChoose').bind('click',function(){
                    // 全选一定有标示状态
                    $(':checkbox[name="id[]"]').each(function(){
                        $(this).prop('checked',bool);
                    });
                    bool=!bool;
                });
        
                $(':button:contains(反选)').bind('click',function(){        	
                    $(':checkbox[name="id[]"]').each(function(){
                        $(this).prop('checked',!this.checked);
                    });
                });
             })
        </script>
</block>         